<form [formGroup]="leaveForm" (ngSubmit)="submit()" class="p-4">

  <!-- Employee Name -->
  <div class="mb-3">
    <label>Employee Name</label>
    <input class="form-control" formControlName="employeeName">
  </div>

  <!-- Leave Type -->
  <div class="mb-3">
    <label>Nature of Leave</label>
    <select class="form-select" formControlName="leaveType">
      <option value="">Select</option>
      <option value="CL">Casual Leave</option>
      <option value="EL">Earned Leave</option>
    </select>
  </div>

  <!-- Date FormArray -->
  <div formArrayName="dates">
    <div class="row g-2 mb-2" *ngFor="let group of dates.controls; let i = index" [formGroupName]="i">

      <!-- From Date -->
      <div class="col-md-5">
        <label>From</label>
        <!-- <ngb-datepicker
          formControlName="fromDate"
          #d1="ngbDatepicker"
        (click)="d1?.toggle()"
          (select)="calculateDays()">
        </ngb-datepicker> -->
     

      <div class="input-group">
        <input
          class="form-control"
          placeholder="dd-mm-yyyy"
          name="dp"
          formControlName="fromDate"
          ngbDatepicker
          (select)="calculateDays()"
          #d1="ngbDatepicker"
        />
        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d1.toggle()" type="button"></button>
      </div>
    </div>
      <!-- To Date -->
      <div class="col-md-5">
        <label>To</label>
       

      <div class="input-group">
        <input
          class="form-control"
          placeholder="dd-mm-yyyy"
          name="dp"
          formControlName="toDate"
          ngbDatepicker
          [minDate]="dates.at(i).get('fromDate')?.value! || undefined"
        (select)="calculateDays()"
          #d2="ngbDatepicker"
        />
        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()" type="button"></button>
      </div>
      

      </div>

      <div class="col-md-2 d-flex align-items-end">
        <button *ngIf="i > 0" type="button" class="btn btn-danger" (click)="removeRow(i)">
          <i class="bi bi-trash"></i>
        </button>
      </div>

    </div>
  </div>

  <button type="button" class="btn btn-outline-primary mt-2" (click)="addRow()">
    <i class="bi bi-plus-circle"></i> Add More Dates
  </button>

  <!-- Total Days -->
  <div class="alert alert-info mt-3">
    <strong>Total Days:</strong> {{ totalDays() }}
  </div>

  <!-- Modal Footer -->
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
    <button class="btn btn-success" type="submit" [disabled]="leaveForm.invalid">
      <i class="bi bi-check-circle"></i> Submit
    </button>
  </div>

</form>
